.container#page-introduccion

    .header-ecored
        h1 Introducción


    .jumbotron.bg-white 
      .row.justify-content-center
        .col-12.col-lg-7.my-5
          img(src="assets/images/pages/tema_1/introduccion.svg", alt="", style="width:100%")                    

        .col-12
          p Antes de lanzar cualquier tipo de campaña en el entorno digital, las marcas deben tener clara su personalidad, su segmentación, su público objetivo, su Buyer persona y su propuesta de valor, para llegar de manera focalizada y acertada a cada audiencia con identidad de marca.

          p Este componente formativo contempla una serie de temas que complementan el abordaje hacia la caracterización de audiencia, como el modelo de lienzo de valor y su relación con el Buyer persona, dentro del contexto del plan de comunicación para un ecosistema digital.
 


             
          



              