.container

    .header-ecored
        h1 Material complementario

    .jumbotron.bg-white

        table.table.table-bordered.table-striped
            thead.thead-dark
                tr
                    th.text-center Autor, (año del documento o material),  Nombre del documento o material.
                    th.text-center Tipo de material ( Video, capítulo de libro, articulo, otro) 
                    th.text-center(style="width:150px") Enlace del Recurso o Archivo del documento o material

            tbody

                tr
                    td Adamovsky, G. TED.[TEDxUCES]. (2014, Diciembre 22). Construyendo tu marca personal.
                    td Video
                    td 
                        a(href="https://youtu.be/c5FcxItUxo0", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Ver                  
                tr
                    td Ballesteros, R. H. (2017). Branding el arte de marcar corazones. Bogotá: ECOE Ediciones.
                    td PDF 
                    td 
                        a(href="media/documentos/Branding.pdf", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Descargar 