.container

    .header-ecored
        h1 Material complementario

    .jumbotron.bg-white

        table.table.table-bordered.table-striped
            thead.thead-dark
                tr
                    th.text-center Autor, (año del documento o material),  Nombre del documento o material.
                    th.text-center Tipo de material ( Video, capítulo de libro, artículo, otro) 
                    th.text-center(style="width:150px") Enlace del Recurso o Archivo del documento o material

            tbody

                tr
                    td Observatorio de eComerce. (2019). Medición de Indicadores.
                    td PDF
                    td 
                        a(href="media/documentos/estudio-consumo-ecommerce-colombia-observatorio-2019.pdf", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Descargar                  
                tr
                    td ICEMD. (Diciembre de 2017). https://cdn5.icemd.com/. https://cdn5.icemd.com/app/uploads/2018/12/Estudio_6-generaciones-de-la-era-digital-.pdf
                    td PDF
                    td 
                        a(href="media/documentos/Estudio_6-generaciones-de-la-era-digital-.pdf", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Descargar 

                tr
                    td Nielsen. (Noviembre de 2015). nielsen. https://www.nielsen.com/wp-content/uploads/sites/3/2019/04/EstilosdeVidaGeneracionales.pdf
                    td PDF
                    td 
                        a(href="media/documentos/EstilosdeVidaGeneracionales.pdf", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Descargar 