include ../mixins/functions

.container

    .header-ecored
        h1 Referencias bibliográficas

    .jumbotron.bg-white.referencias
        +referenciaItem("Aaker. (1997). Dimensions of brand personality. Journal of Marketing Research, 347-356", "")
        +referenciaItem("Alonso, M. (8 de noviembre de 2018). Qué debe integrar un ecosistema digital. Merca 2.0.", "https://www.merca20.com/que-debe-de-integrar-un-ecosistema-digital/")
        +referenciaItem("American Marketing Association. (28 de octubre de 2020). Definitions de Marketing. American Marketing Association.", "https://www.ama.org/the-definition-of-marketing-what-is-marketing/")
        +referenciaItem("Branding Manic. (s.f.). Social media. Branding Manic.", "https://www.brandmanic.com/social-media-y-redes-sociales-no-son-lo-mismo/")
        +referenciaItem("Wrobel, G. (2 de noviembre de 2015). Introducción al plan de comunicaciones. Wrobel Smart Comm.", "")
        +referenciaItem("Galicia, B. (2020). Como elaborar el plan de comunicación. igape.", "http://www.igape.es/images/crear-unha-empresa/ManuaisdeXestion/10_planComunicacion_cas.pdf")
        +referenciaItem("Gray, D. B. (2012). Game Storming: 83 juegos para innovadores.", "")
        +referenciaItem("ICEMD. (Diciembre de 2017). Las 6 generaciones de la era digital.", "https://cdn5.icemd.com/app/uploads/2018/12/Estudio_6-generaciones-de-la-era-digital-.pdf")
        +referenciaItem("Kotler, P. &. (1998). Principios de Marketing. Rio de Janeiro: Prentice – Hall do Brasil LTDA.", "")
        +referenciaItem("Marketing directo. (s.f.). Diccionario de marketing.", "https://www.marketingdirecto.com/diccionario-marketing-publicidad-comunicacion-nuevas-tecnologias?letra")
        +referenciaItem("Marketing y Finanzas. (2020). ¿Qué es una propuesta de valor y cómo hacerla efectiva? Marketing y finanzas.", "https://www.marketingyfinanzas.net/2015/09/que-propuesta-de-valor/")
        +referenciaItem("Mintic. (7 de septiembre de 2020). Entorno digital. Mintic.", "https://www.mintic.gov.co/portal/inicio/18724:Entorno-digital")
        +referenciaItem("Osterwalder, A., & Pigneur, Y. (2015). Diseñando la propuesta de valor. Paidos.", "")
        +referenciaItem("Plummer, J. (. (1974). The concepts and application of life style segmentation. Journal of Marketing, 33-37.", "")
        +referenciaItem("Wells, W. &. (1971). Activities, interests and opinions. Journal of Advertising, 27-35.", "")
        +referenciaItem("Yiminshum. (2019). Situación digital y social media en Colombia 2019. Yiminshum.", "https://yiminshum.com/digital-social-media-colombia-2019/")
        
        

        .row.justify-content-between.align-items-center

            .col-12.col-md-5.my-4
                .jumbotron.p-4
                    .d-flex.justify-content-center.align-items-center
                        p.text-center.pl-4
                            i.fa.fa-picture-o.fa-2x.text-center
                        p.text-center.flex-grow-1 Fotografías y vectores tomados de <a href="https://www.shutterstock.com/" target="_blank">https://www.shutterstock.com/</a> y <a href="https://www.freepik.es/" target="_blank">https://www.freepik.es/</a>

            .col-12.col-md-5.my-4
                .jumbotron.p-4
                    .d-flex.justify-content-center.align-items-center
                        p.text-center.pl-4
                            i.fa.fa-creative-commons.fa-2x.text-center
                        p.text-center.flex-grow-1 Licencia Creative Commons <br> <strong>CC BY-NC-SA</strong><br> <a href="https://creativecommons.org/licenses/by-nc-sa/3.0/es/" target="_blank">Ver licencia.</a>            