include ../mixins/functions

.container

    .header-ecored
        h1 Referencias bibliográficas

    .jumbotron.bg-white.referencias
        +referenciaItem("Aaker. (1997). Dimensions of brand personality. Journal of Marketing Research, 347-356.", "")
        +referenciaItem("American Marketing Association. (28 de 10 de 2020). American Marketing Association. Obtenido de", "https://www.ama.org/the-definition-of-marketing-what-is-marketing/") 
        +referenciaItem("Bustos, D. P. (26 de 8 de 2018). diegopalomares. Obtenido de", "https://diegopalomares.es/lienzo-mapa-empatia-actualizado-la-herramienta-indispensable-comprender-clientes-usuarios-producto-servicio")
        +referenciaItem("Gray, D. B. (2012). Game Storming: 83 juegos para innovadores,.", "")
        +referenciaItem("Kotler, P. &. (1998). Princípios de Marketing. Rio de Janeiro: Prentice – Hall do Brasil LTDA.", "")
        +referenciaItem("Marketing directo. (4 de 11 de 2020). marketing directo. Obtenido de", "https://www.marketingdirecto.com/diccionario-marketing-publicidad-comunicacion-nuevas-tecnologias?letra")             
        +referenciaItem("Osterwalder, A., & Pigneur, Y. (2015). Diseñando la propuesta de valor. Paidos", "")
        +referenciaItem("Peri, P. C. (2009). Branding corporativo. Santiago de Chile: Colección libros de la empresa.", "")
        +referenciaItem("Plummer, J. (. (1974). The concepts and application of lifestyle segmentation. Journal of Marketing, 33-37.", "")
        +referenciaItem("Wells, W. &. (1971). Activities, interests and opinions. Journal of Advertising, 27-35.", "")
        

        .row.justify-content-between.align-items-center

            .col-12.col-md-5.my-4
                .jumbotron.p-4
                    .d-flex.justify-content-center.align-items-center
                        p.text-center.pl-4
                            i.fa.fa-picture-o.fa-2x.text-center
                        p.text-center.flex-grow-1 Fotografías y vectores tomados de <a href="https://www.shutterstock.com/" target="_blank">https://www.shutterstock.com/</a> y <a href="https://www.freepik.es/" target="_blank">https://www.freepik.es/</a>

            .col-12.col-md-5.my-4
                .jumbotron.p-4
                    .d-flex.justify-content-center.align-items-center
                        p.text-center.pl-4
                            i.fa.fa-creative-commons.fa-2x.text-center
                        p.text-center.flex-grow-1 Licencia Creative Commons <br> <strong>CC BY-NC-SA</strong><br> <a href="https://creativecommons.org/licenses/by-nc-sa/3.0/es/" target="_blank">Ver licencia.</a>            