.container#tema_3

    .header-ecored
        h1 3. Ecosistema digital y social media 

    .jumbotron.bg-white
      .row.justify-content-center
        .col-12.col-lg-9.mb-5
          img(src="assets/images/pages/tema_3/img_3_01.svg", alt="", style="width:100%")
        .col-12
          p Las marcas necesitan tener visibilidad y posicionamiento dentro de un entorno digital, por lo cual se pretende con esta unidad tener un panorama general del ecosistema digital, desde su definición, el social media y el consumidor digital, para comprender la importancia del Buyer Persona dentro de una campaña de social media y su relación con el mundo digital.

    .jumbotron.bg-white
      .row
        .col-12
          .header-ecored.mt-3#tema3_2
            h2 3.1 Relación de la propuesta de valor y buyer persona  

      .row.justify-content-center
        .col-12.col-lg-9.mb-4
          img(src="assets/images/pages/tema_3/img_3_1_01.svg", alt="", style="width:100%")
        .col-12
          p El concepto de ecosistema digital se compara con los sistemas biológicos formados por un conjunto de especies que se integran e interactúan entre sí en un medio o entorno, por lo cual en un ecosistema digital estas especies hacen referencia a todo el entorno digital de una marca, conformado por la infraestructura digital, servicios, aplicaciones, canales, plataformas y las comunidades sociales. De acuerdo con Manuel Alonso “el ecosistema digital es el ambiente de tácticas digitales surgidas de una estrategia de Marketing Digital y cuyo propósito es generar tráfico, convertir visitas en leads, atender a los públicos e impactar en el negocio. En pocas palabras, sirve a las marcas para posicionarse y controlar todos los aspectos de su mensaje.” (Alonso, 2018). En dicho sentido el ecosistema digital se enfoca en comprender todo el entorno del cliente en internet para poder desarrollar estrategias eficientes para alcanzar los objetivos de las estrategias del plan de marketing y comunicación de una marca. Por consiguiente, un ecosistema digital se vuelve una herramienta importante para generar estrategias digitales.

    .jumbotron.bg-white
      .row
        .col-12
          .header-ecored.mt-3#tema3_2
            h2 3.2 #[i Social Media]  

      .row.justify-content-center
        .col-12.col-lg-8.mb-5
          img(src="assets/images/pages/tema_3/img_3_2_01.svg", alt="", style="width:100%")
        .col-12
          p Una de las estrategias dentro del ecosistema digital es la de social media, que no solamente integra redes sociales sino además todos los medios en los que interactúan y socializan las personas en internet. Estos medios pueden ser:
          .list
            .list__item
              .list__item__icon
                img(src="assets/images/icons/icon_single_chevron.svg", alt="")    
            .list__txt
              P #[strong Redes sociales:] son plataformas diseñadas para que los usuarios interactúen y se conecten entre sí, partiendo de sus intereses o actividades. Ejemplo: Facebook, Instagram, etc.
          .list
            .list__item
              .list__item__icon
                img(src="assets/images/icons/icon_single_chevron.svg", alt="")    
            .list__txt
              P #[strong Blogs:] lugares para generar publicaciones y contenido personal para compartir con otros usuarios de manera periódica. Ejemplo: Blogger, Wordpress, etc.
          .list
            .list__item
              .list__item__icon
                img(src="assets/images/icons/icon_single_chevron.svg", alt="")    
            .list__txt
              P #[strong Marcadores:] sitios donde los usuarios comparten y marcan su información. Ejemplo: Pinterest, LinkedIn, etc.
          .list
            .list__item
              .list__item__icon
                img(src="assets/images/icons/icon_single_chevron.svg", alt="")    
            .list__txt
              P #[strong Plataformas de audio y video:] son sitios para alojar y compartir archivos de audio y video que pueden ser vistos y escuchados por otros usuarios. Ejemplo: Youtube, Vimeo, etc.

    .jumbotron.bg-white
      .row
        .col-12
          .header-ecored.mt-3#tema3_3
            h2 3.3 Características de consumidor digital

      .row.justify-content-center
        .col-12.col-lg-9.mb-5
          img(src="assets/images/pages/tema_3/img_3_3_01.svg", alt="", style="width:100%")
        .col-12
          p La manera en que los consumidores interactúan con las marcas cambia constantemente a medida que avanzan las tecnologías digitales, por ello la importancia de comprender algunos aspectos relevantes del consumidor digital dentro de su caracterización en dicho entorno.

          p Un consumidor está definido de acuerdo con la Real Academia Española como una “persona, física o jurídica, que adquiere, utiliza o disfruta de bienes o servicios, siempre que lo haga como destinatario final, y siendo diferente que quienes producen, facilitan, suministran o expiden dichos bienes o servicios” (RAE). En dicho sentido el concepto de consumidor digital se refiere a aquellas personas que utilizan las nuevas tecnologías a través de internet para interactuar, informarse, buscar, comparar y realizar su proceso de compra dentro de un entorno digital.

          p Existen diversos estudios que hablan de los tipos de consumidores digitales, estos estudios abordan sus investigaciones desde el análisis del comportamiento del consumidor, sus intereses, rasgos de personalidad y actividad dentro del entorno digital. Un informe elaborado por el Instituto de Economía Digital (2017), presenta una serie de características de 6 generaciones y su relación con la era digital, brindando un panorama amplio de los diferentes consumidores, pertinente para el desarrollo de cualquier campaña digital. 

          p En la siguiente tabla se presenta un resumen del informe, con el fin de comprender el entorno digital a través de las generaciones desde el año 1925 con la llamada “generación silenciosa” hasta la generación “Alpha” correspondiente a los nacidos desde el año 2012 a la actualidad.

      .row.justify-content-center
        .col-12.col-lg-9.my-5
          img(src="assets/images/pages/tema_3/img_3_3_02.png", alt="", style="width:100%").img-fluid