.container#tema_4

    .header-ecored
        h1 4. Comunicación de marketing digital     

    .jumbotron.bg-white           
      .row.mb-5        
        .col
          .card
            .embed-responsive.embed-responsive-16by9
              iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/-bbJONQgamY', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')             

      .row.mb-5
        .col-12
          p.mb-5 Para tener éxito en la compra de publicidad la empresa debe saber seleccionar las palabras claves conocidas como #[i Keywords], ese conjunto de palabras que el usuario puede buscar para comprar, y que además de ello deben relacionarse con el anuncio, para ello Google nos proporciona una de las soluciones de publicidad en línea más importantes, Google Ads (anteriormente Google AdWords) que muestra resultados exactos basados en las búsquedas realizadas por los usuarios y la cantidad de usuarios que buscan dicha palabra clave y que coincide con las definidas para el producto o servicio que la empresa ofrece.
          p Pero en el mercado existen varias herramientas que son muy importantes a la hora de generar posicionamiento en buscadores.

      .row.justify-content-center.align-items-center
        .col-12
          .list
            .list__item
              .list__item__bulletNumber
                span 1
            .list__txt
              p.mb-2 #[strong SEMrush]
              p Es una herramienta que permite conocer y analizar el tráfico que le llega al sitio #[i web] de la competencia y es de gran ayuda para elegir o cambiar las palabras claves de los productos o servicios de la empresa.
        .col-12.d-flex.justify-content-center.my-5
          img(src="assets/images/pages/tema_4/img_4_02.svg", alt="").img-fluid 

      .hr-divider.my-5

      .row.justify-content-center.align-items-center
        .col-12
          .list
            .list__item
              .list__item__bulletNumber
                span 2
            .list__txt
              p.mb-2 #[strong Ubersuggest]
              p Esta herramienta sugiere diferentes palabras clave de acuerdo con las que son de interés de la empresa y sugiere otras para la construcción de contenido. 
        .col-12.d-flex.justify-content-center.my-3
          img(src="assets/images/pages/tema_4/img_4_02.png", alt="").img-fluid 

      .hr-divider.my-5

      .row.justify-content-center.align-items-center
        .col-12
          .list
            .list__item
              .list__item__bulletNumber
                span 3
            .list__txt
              p.mb-2 #[strong Mergewords]
              p Por medio de esta herramienta se combinan y generan Keywords o palabras claves permitiendo segmentarlas y mejorar el posicionamiento en los buscadores.
        .col-12.d-flex.justify-content-center.my-5
          img(src="assets/images/pages/tema_4/img_4_03.svg", alt="").img-fluid 

      .hr-divider.my-5

      .row.justify-content-center.align-items-center
        .col-12
          .list
            .list__item
              .list__item__bulletNumber
                span 4
            .list__txt
              p.mb-2 #[strong Google trends]
              p Esta es otra herramienta de Google que analiza las tendencias de búsqueda en todo el mundo de los usuarios en la #[i web] y así facilita mejorar la estrategia de posicionamiento en los buscadores.
        .col-12.col-lg-8.d-flex.justify-content-center.my-5
          img(src="assets/images/pages/tema_4/img_4_04.svg", alt="", style="width:100%").img-fluid 

      .hr-divider.my-5

      .row.mt-6.mb-5
        .col-12
          p Para tener éxito en el posicionamiento SEO, tanto para la #[strong #[i landing web o Social media] o redes sociales,] se debe:

      .row.justify-content-center.align-items-center.mb-5.mb-lg-6  
        .col-12.col-lg-5.order-2.order-lg-1          
          .list
            .list__item
              .list__item__icon
                img(src="assets/images/icons/icon_single_chevron.svg", alt="")
            .list__txt
              p Utilizar URL amigables.
          .list
            .list__item
              .list__item__icon
                img(src="assets/images/icons/icon_single_chevron.svg", alt="")
            .list__txt
              p Entregar contenido adaptado a las necesidades de los usuarios.
          .list
            .list__item
              .list__item__icon
                img(src="assets/images/icons/icon_single_chevron.svg", alt="")
            .list__txt
              p Crear mensajes personalizados para cada cliente.
          .list
            .list__item
              .list__item__icon
                img(src="assets/images/icons/icon_single_chevron.svg", alt="")
            .list__txt
              p Medir la velocidad del sitio #[i web].      
        .col-12.col-lg-auto.d-flex.justify-content-center.mb-5.mb-lg-0.order-1.order-lg-2
          img(src="assets/images/pages/tema_4/img_4_05.svg",alt="").img-fluid    

      .row.mb-5
        .col-12
          p Para una adecuada estrategia de comunicación de #[i marketing] es importante conocer e identificar el arquetipo o #[i buyer] persona de la compañía, para lo cual la empresa debe preguntarse:  

      .row.justify-content-center.align-items-center.mb-5.mb-lg-6 
        .col-12.col-lg-auto.d-flex.justify-content-center.mb-5.mb-lg-0
          img(src="assets/images/pages/tema_4/img_4_06.svg",alt="").img-fluid  

        .col-12.col-lg-6         
          .list
            .list__item
              .list__item__icon
                img(src="assets/images/icons/icon_single_chevron.svg", alt="")
            .list__txt
              p ¿Qué necesidades tienen los clientes?
          .list
            .list__item
              .list__item__icon
                img(src="assets/images/icons/icon_single_chevron.svg", alt="")
            .list__txt
              p ¿Cuánto están dispuestos a pagar?
          .list
            .list__item
              .list__item__icon
                img(src="assets/images/icons/icon_single_chevron.svg", alt="")
            .list__txt
              p ¿Dónde se sienten más cómodos?
          .list
            .list__item
              .list__item__icon
                img(src="assets/images/icons/icon_single_chevron.svg", alt="")
            .list__txt
              p ¿Cómo, dónde, cuándo y para quien comunicamos?
          .list
            .list__item
              .list__item__icon
                img(src="assets/images/icons/icon_single_chevron.svg", alt="")
            .list__txt
              p Y la pregunta principal es ¿cómo y en qué medio comunico?       

      .row.mb-5
        .col-12
          p.mb-5 La comunicación en el #[i #[i marketing]] digital busca generar contenidos que atraigan la audiencia, después de encontrar las palabras claves es sumamente importante desarrollar diferentes contenidos, entre ellos:
          .list
            .list__item
              .list__item__icon
                img(src="assets/images/icons/icon_single_chevron.svg", alt="")
            .list__txt
              p #[strong Videos:] los cuales permiten emular la historia de la empresa.
          .list
            .list__item
              .list__item__icon
                img(src="assets/images/icons/icon_single_chevron.svg", alt="")
            .list__txt
              p #[strong E-books:] publicaciones que al compartirse generan #[i leads] u oportunidades de venta debido a que el usuario comparte sus datos de contacto mediante una #[i landing page].
          .list
            .list__item
              .list__item__icon
                img(src="assets/images/icons/icon_single_chevron.svg", alt="")
            .list__txt
              p #[strong Libros:] educan a los usuarios acerca del producto o servicio.
          .list
            .list__item
              .list__item__icon
                img(src="assets/images/icons/icon_single_chevron.svg", alt="")
            .list__txt
              p #[strong Newsletter:] brindan información de los movimientos de la marca, haciendo que el usuario se fidelice más con ella.

      .row.mb-3
        .col-12
          p Para generar contenido potente este se debe caracterizar por su: 

      .row.justify-content-center.align-items-center
        .col    
          .list.mb-3
            .list__item
              .list__item__bulletNumber
                span A
            .list__txt
              p.mb-0 #[strong Relevancia:] contando historias interesantes y útiles para el usuario. 
      .row.justify-content-center.align-items-center
        .col    
          .list.mb-3
            .list__item
              .list__item__bulletNumber
                span B
            .list__txt
              p.mb-0 #[strong Consistencia:] publicando contenido que demuestra que la empresa conoce la industria y especialidad en la que se desempeña la empresa en el sector.    
      .row.justify-content-center.align-items-center
        .col   
          .list.mb-3
            .list__item
              .list__item__bulletNumber
                span C
            .list__txt
              p.mb-0 #[strong #[i engagement]:] ayudando a estimular la atención de la audiencia hacia la marca. 
      .row.justify-content-center.align-items-center
        .col    
          .list.mb-3
            .list__item
              .list__item__bulletNumber
                span D
            .list__txt
              p.mb-0 #[strong Credibilidad:] proporcionando información relevante para la audiencia y argumentos verdaderos sobre la marca y sus promesas.     
          

    .jumbotron.bg-white     
      .row
        .col-12
          .header-ecored.mt-3#tema4_1
            h2 4.1 Elección del público objetivo 

      .row.mb-5       
        .col
          .card
            .embed-responsive.embed-responsive-16by9
              iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/o6_G1qHyLPk', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')            

      .row.justify-content-center 
        .col-12.mb-5
          p En el #[i marketing] tradicional se conoce e identifica al público objetivo mientras que en el #[i marketing] digital este concepto cambia a #[i buyer] persona, el cual se define como el prototipo de cliente ideal en el mercado #[i online], para su identificación se tienen en cuenta las características de la segmentación y los perfiles de comportamiento de compra.
        .col-12.d-flex.justify-content-center.mb-5
          img(src="assets/images/pages/tema_4/info_4_1_01.svg",alt="").img-fluid  
        .col-12.mb-5
          p.mb-5 Para conocer el #[i buyer] persona se deben tener en cuenta las siguientes características:
          .list
            .list__item
              .list__item__icon
                img(src="assets/images/icons/icon_single_chevron.svg", alt="")
            .list__txt
              p #[strong Pain o puntos de dolor:] identificación de los problemas que tiene el cliente y la forma de ayudarles a resolverlos, estos pueden ser de necesidad, motivación o preocupación. Por ejemplo: las demoras en las transacciones van dirigidas al proceso de ventas; la atención inmediata al usuario.
          .list
            .list__item
              .list__item__icon
                img(src="assets/images/icons/icon_single_chevron.svg", alt="")
            .list__txt
              p #[strong #[i Drive]:] identificar qué es lo que lo motiva a un usuario a buscar en Google de acuerdo con sus preferencias, pueden darse por precio, contenidos o posicionamiento de la marca.
        .col-12.mb-5
          p.mb-5 Para identificar el #[i buyer] persona la empresa debe tener en cuenta qué contenidos publicar y de acuerdo con ello empezar a clasificar el #[i buyer] personas teniendo en cuenta la siguiente información:
          .list
            .list__item
              .list__item__icon
                img(src="assets/images/icons/icon_single_chevron.svg", alt="")
            .list__txt
              p #[strong Frente a lo personal:] que lo hace feliz, quien influencia sus decisiones, que aficiones tiene, cuáles son sus objetivos.
          .list
            .list__item
              .list__item__icon
                img(src="assets/images/icons/icon_single_chevron.svg", alt="")
            .list__txt
              p #[strong Comportamiento #[i online]:] cuáles son sus intereses, medios #[i online] u #[i offline] por los cuales compra sus productos, con qué frecuencia compra, cuáles son los productos que utiliza o consume, cuáles son sus hábitos.
          .list
            .list__item
              .list__item__icon
                img(src="assets/images/icons/icon_single_chevron.svg", alt="")
            .list__txt
              p #[strong En cuanto a lo laboral:] cuáles son sus retos, que lo motiva, cuáles son sus frustraciones.
          .list
            .list__item
              .list__item__icon
                img(src="assets/images/icons/icon_single_chevron.svg", alt="")
            .list__txt
              p #[strong En cuanto a la marca:] como nos encuentra, donde nos busca, que lo motiva a adquirir nuestra marca y cómo valora la nuestra empresa.
        .col-12
          p Para comunicar con el #[i buyer] persona es necesario cuestionarse sobre: cual es la edad, cuando realiza sus compras, a qué horas navega, que tipo de trabajo quiere y todas las demás preguntas que se considere necesario realizar que den respuesta a la empresa.  El #[i buyer] persona se puede ir alimentado, nunca termina de acuerdo con la innovación de empresa.

    .jumbotron.bg-white     
      .row
        .col-12
          .header-ecored.mt-3#tema4_2
            h2 4.2 E-marketing: concepto, fundamentos, tácticas y estrategias.   
      .row
        .col-12.d-flex.justify-content-center.mb-5
          img(src="assets/images/pages/tema_4/img_4_2_01.svg",alt="").img-fluid  
        .col-12
          p El #[i email marketing] o #[i e-marketing] es la técnica de comunicación más adecuada para atraer a los clientes, permite adaptar el contenido a cada consumidor y así busca un retorno de la inversión, en este proceso la segmentación es parte primordial en esta estrategia de comunicación.
          p Los criterios para tener en cuenta en la segmentación son:
          .list
            .list__item
              .list__item__icon
                img(src="assets/images/icons/icon_single_chevron.svg", alt="")
            .list__txt
              p #[strong Geolocalización:] tener en cuenta país, ciudad y código postal.          
          .list
            .list__item
              .list__item__icon
                img(src="assets/images/icons/icon_single_chevron.svg", alt="")
            .list__txt
              p #[strong Demografías:] definir la campaña en función del género.
          .list
            .list__item
              .list__item__icon
                img(src="assets/images/icons/icon_single_chevron.svg", alt="")
            .list__txt
              p #[strong Preferencias e intereses:] enviar información de productos de acuerdo con lo que le interesa a cada consumidor.
          .list
            .list__item
              .list__item__icon
                img(src="assets/images/icons/icon_single_chevron.svg", alt="")
            .list__txt
              p #[strong Fechas especiales:] tener en cuenta descuentos y contar historias “storytelling”
          .list
            .list__item
              .list__item__icon
                img(src="assets/images/icons/icon_single_chevron.svg", alt="")
            .list__txt
              p #[strong Fuentes de suscripción:] ofrecer contenido de acuerdo con la suscripción.
          .list
            .list__item
              .list__item__icon
                img(src="assets/images/icons/icon_single_chevron.svg", alt="")
            .list__txt
              p #[strong Historial de compras:] con el fin de generar #[i engagement] de acuerdo con las estrategias de fidelización.
          .list
            .list__item
              .list__item__icon
                img(src="assets/images/icons/icon_single_chevron.svg", alt="")
            .list__txt
              p #[strong Interacción con el sitio web:] se aplica la técnica de #[i remarketing] para los usuarios que ya han visitado la página #[i web] de la empresa después de lanzar una campaña, para ello la herramienta de MailChimp es la más aconsejable.   

        .hr-divider.my-5

        .col-12
          p.mb-5 El #[i e-marketing] facilita a la empresa la comercialización de sus productos en medio #[i online], ayuda a generar clientes, venderles y fidelizarlos, para lograrlo la empresa debe definir las tácticas o métodos que le permitan conseguir el fin deseado en la campaña, entre ellas se encuentran: 
          .row.justify-content-center.align-items-center.mb-5 
            .col-auto
              img(src="assets/images/pages/tema_4/topic_4_06.svg", alt="", style="width:65px")
            .col
              p.mb-0 Generar contenido de valor de acuerdo con el #[i buyer] persona, esto se logra con la investigación de los usuarios.
          .row.justify-content-center.align-items-center.mb-5 
            .col-auto
              img(src="assets/images/pages/tema_4/topic_4_07.svg", alt="", style="width:65px")
            .col
              p.mb-0 Enviar correos personalizados. 
          .row.justify-content-center.align-items-center.mb-5 
            .col-auto
              img(src="assets/images/pages/tema_4/topic_4_08.svg", alt="", style="width:65px")
            .col
              p.mb-0 El o los asuntos de la comunicación deben ser atractivos de forma que lleven al usuario a indagar más sobre el producto, el servicio o la empresa. 
          .row.justify-content-center.align-items-center.mb-5 
            .col-auto
              img(src="assets/images/pages/tema_4/topic_4_09.svg", alt="", style="width:65px")
            .col
              p.mb-0 Investigar cuales son las fechas y horas más adecuadas para el envío de la información. 
          .row.justify-content-center.align-items-center
            .col-auto
              img(src="assets/images/pages/tema_4/topic_4_10.svg", alt="", style="width:65px")
            .col
              p.mb-0 Diseñar #[i newsletters] periódicos que amplíen la información al usuario sobre lo que compró o indagó.

          .hr-divider.my-5

      .row.mb-5      
        .col-12
          p A la vez y con el fin de encaminar las #[strong acciones de e-marketing] al cumplimiento de los objetivos se definen las estrategias las cuales han de ser muy #[strong creativas y con un enfoque direccionado a que la marca mantenga interacción permanente con el cliente.]

      .row.align-items-center.justify-content-center.mb-5
        .col-12.col-lg-auto.d-flex.justify-content-center.mb-5.mb-lg-0
          img(src="assets/images/pages/tema_4/img_4_2_02.svg",alt="", style="width:350px").img-fluid 
        .col
          .list
            .list__item
              .list__item__icon
                img(src="assets/images/icons/icon_single_chevron.svg", alt="")
            .list__txt
              p La claridad en la definición de los objetivos estratégicos de la campaña. 
          .list
            .list__item
              .list__item__icon
                img(src="assets/images/icons/icon_single_chevron.svg", alt="")
            .list__txt
              p Identificar la mejor forma para conseguir suscriptores a la página #[i web].
          .list
            .list__item
              .list__item__icon
                img(src="assets/images/icons/icon_single_chevron.svg", alt="")
            .list__txt
              p Definir los tiempos de duración de la campaña, especificando el tipo de contenido a publicar y el calendario de publicaciones.
          .list
            .list__item
              .list__item__icon
                img(src="assets/images/icons/icon_single_chevron.svg", alt="")
            .list__txt
              p Definir las métricas o indicadores con los que se evaluarán los resultados de la campaña. 

      .row.mb-5       
        .col-12
          p.mb-5 El #[i e-marketing] es uno de los medios más atractivos para generar estrategias ya que es un medio flexible, inmediato, es diferenciador frente a la competencia y tiene un gran alcance.
        .hr-divider.mb-5
        .col-12
          p En las campañas de e-marketing el modelo AIDA facilita la forma en cómo dirigirse al público de manera correcta ya que identifica las etapas por las que pasa un individuo durante el proceso de compra, los cuales define en cuatro pasos: 

      .row.justify-content-center.align-items-center.mb-6
        .col-12.col-lg-auto.d-flex.justify-content-center.mb-5.mb-lg-0
          img(src="assets/images/pages/tema_4/img_4_2_03.svg",alt="").img-fluid 
        .col.mb-5      
          .list.mb-3
            .list__item
              .list__item__bulletNumber
                span 1
            .list__txt
              p.mb-0 #[strong Atención:] crea conciencia de marca o afiliación con el producto o servicio. 
          .list.mb-3
            .list__item
              .list__item__bulletNumber
                span 2
            .list__txt
              p.mb-0 #[strong Interés:] despierta la atención mediante los valores agregados del producto o sus beneficios de forma que interesa al comprador en investigar más sobre el producto.  
          .list.mb-3
            .list__item
              .list__item__bulletNumber
                span 3
            .list__txt
              p.mb-0 #[strong Deseo:] crea conciencia de marca o afiliación con el producto o servicio. 
          .list
            .list__item
              .list__item__bulletNumber
                span 4
            .list__txt
              p.mb-0 #[strong Acción:] lleva al cliente a interactuar con la empresa.
      .row
        .col-12
          p Para atraer la atención de los usuarios o audiencia que debe de tener una plantilla de #[i e-marketing], en la que se identifican: 
          .list.mb-3
            .list__item
              .list__item__icon
                img(src="assets/images/icons/icon_single_chevron.svg", alt="")
            .list__txt
              p.mb-0 #[strong Cabecera:] ayuda a que el usuario sepa que hace la empresa.
          .list.mb-3
            .list__item
              .list__item__icon
                img(src="assets/images/icons/icon_single_chevron.svg", alt="")
            .list__txt
              p.mb-0 #[strong Encabezado:] describe la oferta.
          .list.mb-3
            .list__item
              .list__item__icon
                img(src="assets/images/icons/icon_single_chevron.svg", alt="")
            .list__txt
              p.mb-0 #[strong Llamada a la acción o #[i Call to Action] (CTA):] este es un botón o enlace que busca atraer al usuario, es importantísimo que el usuario se dirija a él, pues es la oportunidad para convertirlo en cliente potencial o final, este botón o enlace debe destacarse en el contenido mediante colores llamativos y con palabras que lo lleven a la acción, Por ejemplo:  me gusta, llamar, completar formulario, registrarse, entre otros. 
          .list.mb-3
            .list__item
              .list__item__icon
                img(src="assets/images/icons/icon_single_chevron.svg", alt="")
            .list__txt
              p.mb-0 #[strong Texto e imagen:] las imágenes deben de ser relevantes y ubicadas de acuerdo con el #[i layout] o diseño de la tienda.
          .list.mb-3
            .list__item
              .list__item__icon
                img(src="assets/images/icons/icon_single_chevron.svg", alt="")
            .list__txt
              p.mb-0 #[strong Enlace de baja de suscripción:] la normatividad favorece la opción para que los usuarios que quieran dejar de recibir el contenido enviado por correo electrónico puedan darse de baja y salir de las bases de datos de la empresa, lo que es una pérdida importante de información, por esta razón el contenido enviado en cada campaña debe de ser muy llamativo y generar el #[i engagement] esperado. 
          .list.mb-3
            .list__item
              .list__item__icon
                img(src="assets/images/icons/icon_single_chevron.svg", alt="")
            .list__txt
              p.mb-0 #[strong Datos de contacto:] los datos registrados por los usuarios y clientes permiten a la empresa realizar el remarketing. 

    .jumbotron.bg-white     
      .row
        .col-12
          .header-ecored.mt-3#tema4_3
            h2 4.3 Estrategias para e-marketing

      .row.justify-content-center.mb-6
        .col-12.col-lg-auto.d-flex.justify-content-center.mb-5
          img(src="assets/images/pages/tema_4/img_4_3_01.svg",alt="").img-fluid 
        .col-12
          El #[i e-marketing] propone estrategias para desarrollar en los diferentes medios sociales, las cuales se convierten en oportunidades para crear presencia de marca, aumentar la audiencia, difundir contenidos, tener mayor cobertura, generar bases de datos y realizar difusión mediante correos electrónicos masivos.

      .row.mb-5
        .col-12
          .list.mb-3
            .list__item
              .list__item__icon
                img(src="assets/images/icons/icon_duoble_chevron.svg", alt="")
            .list__txt
              h3 Inbound Marketing 

        .col-12
          p #[strong El #[i Inbound Marketing] o marketing de atracción] es una estrategia que se convierte en una metodología, mediante la cual la empresa puede entender cuáles son los gustos y requerimientos de los consumidores, su finalidad es:  

      .row.justify-content-center.align-items-center.mb-6
        .col-12.col-lg-auto.d-flex.justify-content-center.mb-5.mb-lg-0
          img(src="assets/images/pages/tema_4/img_4_3_02.svg",alt="").img-fluid 
        .col 
          .list
            .list__item
              .list__item__bulletNumber
                span 1
            .list__txt
              p #[strong Atraer:] captar la atención de las personas que no conocen la empresa, sus productos o servicios.
          .list
            .list__item
              .list__item__bulletNumber
                span 2
            .list__txt
              p #[strong Convertir:] una vez recibida la visita de una persona a la página #[i web] de la empresa, a partir de ello se pueden obtener los datos de clientes potenciales llamados #[i leads], mediante llamados a la acción que permitan a los interesados interactuar de manera fácil con el contenido, identificando la búsqueda y deseos y estableciendo comunicación directa a través de #[i e–mail] y CRM.
          .list
            .list__item
              .list__item__bulletNumber
                span 3
            .list__txt
              p #[strong Cerrar:] se realiza cuando el individuo se convierte en cliente y realiza el clic de la compra. 
          .list
            .list__item
              .list__item__bulletNumber
                span 4
            .list__txt
              p #[strong Deleitar:] a través de encuestas, contenidos de calidad, entre otros, donde el objetivo principal es buscar la fidelización y recordación de marca de la empresa.  
        
      .hr-divider.my-5

      .row.mb-5
        .col-12
          .list.mb-3
            .list__item
              .list__item__icon
                img(src="assets/images/icons/icon_duoble_chevron.svg", alt="")
            .list__txt
              h3 Marketing de contenidos 

      .row.justify-content-center.align-items-center.mb-6
        .col-12.col-lg-auto.d-flex.justify-content-center.mb-5.mb-lg-0
          img(src="assets/images/pages/tema_4/img_4_3_03.svg",alt="").img-fluid 
        .col
          p Los objetivos de esta estrategia están centrados en: 
          .list.mb-3
            .list__item
              .list__item__bulletNumber
                span 1
            .list__txt
              p Aumentar el tráfico.
          .list.mb-3
            .list__item
              .list__item__bulletNumber
                span 2
            .list__txt
              p Diferenciar y mejorar el posicionamiento de la marca.
          .list.mb-3
            .list__item
              .list__item__bulletNumber
                span 3
            .list__txt
              p Encontrar clientes potenciales mediante la generación de #[i leads]. 
          .list.mb-3
            .list__item
              .list__item__bulletNumber
                span 4
            .list__txt
              p Fidelizar a los clientes.

      .hr-divider.my-5

      .row
        .col-12
          .list.mb-3
            .list__item
              .list__item__icon
                img(src="assets/images/icons/icon_duoble_chevron.svg", alt="")
            .list__txt
              h3 Marketing en redes sociales 

        .col-12
          p La estrategia propone tener presencia en las diferentes redes sociales como canales de comunicación para generar tráfico en el dominio de la empresa, con contenidos propios y atractivos para los clientes potenciales y para la fidelización de los clientes ya existentes. Estos contenidos generalmente son insumos multimediales como #[i banners], videos, #[i e-books], entrevistas que mantienen la atención e interés, recordación de marca para las personas que siguen la empresa.

      .hr-divider.my-5

      .row
        .col-12
          .list.mb-3
            .list__item
              .list__item__icon
                img(src="assets/images/icons/icon_duoble_chevron.svg", alt="")
            .list__txt
              h3 Email marketing 

        .col-12
          p La estrategia está enfocada en poder enviar gran cantidad de correos masivos, de acuerdo con las bases de datos que la empresa haya recopilado a través de los #[i leads]. Es empleado para recordación de marca, aumento de ventas, iniciar comunicación con clientes potenciales y mantener la comunicación con los clientes para fidelización. El usuario o individuo podrá tener además comunicación directa con la empresa y podrá dejar allí sus mensajes e inquietudes, con la confianza que le van a dar respuesta oportuna sobre ellas.

      .hr-divider.my-5

      .row
        .col-12
          .list.mb-3
            .list__item
              .list__item__icon
                img(src="assets/images/icons/icon_duoble_chevron.svg", alt="")
            .list__txt
              h3 Display Ads

        .col-12
          p Corresponde a un anuncio elaborado en medio multimedial de formato de Banner, que incluye imágenes y texto. Estos anuncios no aparecen en motores de búsqueda sino que están albergados en el sitio #[i web] de la empresa.
         
          









          
          


   

      


 
 


              

          
        
          

